#
# These two groups are read by the client library
# Use it for options that affect all clients, but not the server
#

# this is read by the standalone daemon and embedded servers
[server]
bind-address=0.0.0.0

# this is only for the mysqld standalone daemon
[mysqld]
datadir=/var/lib/mysql
ignore_db_dirs=lost+found
socket=/var/lib/mysql/mysql.sock

general-log=ON
# general-log-file=queries.log
log-output=TABLE
log-error=/var/lib/mysql/error.log
slow-query-log=ON
slow_query_log_file=/var/lib/mysql/slow-query.log

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.1 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.1]

[client]
socket=/var/lib/mysql/mysql.sock

# This group is not read by mysql client library,
# If you use the same .cnf file for MySQL and MariaDB,
# use it for MariaDB-only client options
[client-mariadb]

[galera]
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
binlog_format=ROW
wsrep_cluster_address=gcomm://

innodb_flush_log_at_trx_commit=0


#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#

!includedir /etc/mysql/conf.d/
